* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: $text;
}

/******* lists **********/
ol,
ul {
  list-style: none;
}

li {
  list-style-type: none;
}

/****** links *******/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
